[submodule "EchoRelay"]
	path = EchoRelay
	url = git@github.com:EchoTools/EchoRelay.git
	branch = feature/nakama-backend
[submodule "webapp"]
	path = webapp
	url = git@github.com:EchoTools/EchoNakama-webapp.git
