name: nakama-dev-node
data_dir: "./data/"

socket:
  # usually a uuid4
  server_key: devonly_nakama_server_key

  max_message_size_bytes: 4096
  max_request_size_bytes: 262144

session:
  # 6h token expiry
  token_expiry_sec: 21600
  # usually a uuid4
  encryption_key: devonly_nakama_encryption_key
  # usually a uuid4
  refresh_encryption_key: devonly_nakama_refresh_encryption_key

runtime:
  js_entrypoint: "build/index.js"
  # usually a uuid4
  http_key: devonly_nakama_http_key
  env:
    - "DISCORD_CLIENT_ID=12345678901234567890"
    - "DISCORD_CLIENT_SECRET=SomeSecretClientSecret"
console:
  # Replace these with a secure username and password.
  port: 7351
  max_mesage_size_bytes: 409600
  username: "admin"
  password: "password"
  # Replace this with a random string.
  signing_key: devonly_nakama_signing_key

logger:
  stdout: true
  level: "DEBUG"
  #file: "/logs/nakama.log"
